{% extends "base.html" %}

{% block content %}
  <h2>A bespoke and artisanal collection of products </h2>

  <div class="input-group mb-3">
    <form action="{% url 'products_search' %}" method="post">
      {% csrf_token %}
      {{ search_form }}
      <br/>
      <input type="submit" value="Search" class="btn btn-primary">
    </form>
  </div>

  {% if products_list %}
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Weight</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products_list %}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.category_name}}</td>
        <td>{{product.weight_in_grams}}</td>
        <td><a href="/products/{{ product.id }}">detail</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No products are available.</p>
  {% endif %}
  {% if current_user %}
    <a href="/sellers/profile">See profile for {{current_user.username}}</a>
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/sellers/register">Sign up for merchant account</a>
    <a href="/sellers/login">Login as merchant</a>
  {% endif %}
{% endblock %}