{% extends "base.html" %}

{% block content %}
  <h1>Seller Profile for {{ seller.seller_uuid}}</h1>
  <div class="row gy-5">
    {% if seller %}
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Seller {{ seller.seller_uuid }}</h5>
          <div class="card-body">
            Ranking <strong>{{ ranking.formated_rank }}</strong> over {{ ranking.review_count }} reviews.
            Your percentile ranking? -> <strong>{{ ranking.nth_percentile }}</strong> !
            <br/>
            Current inventory value: <strong>${{ seller.inventory_value }}</strong>
          </div>
        </div>
      </div>
    {% else %}
      <p>Seller not found...</p>
    {% endif %}

    <h3>My Orders</h3>
    {% if order_items %}
    <table class="table">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Product ID</th>
          <th>Shipping Date</th>
          <th>Price</th>
          <th>Freight Value</th>
        </tr>
      </thead>
      <tbody>
      {% for item in order_items %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.product_uuid}}</td>
          <td>{{item.shipping_limit_date}}</td>
          <td>{{item.price}}</td>
          <td>{{item.freight_value}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No products are available.</p>
    {% endif %}

    <h3>My Orders with Predicted Customer Satisfaction</h3>
    {% if order_predicted_satisfaction %}
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer ID</th>
          <th>Order Status</th>
          <th>Purchase Timestamp</th>
          <th>Predicted Customer Satisfaction</th>
        </tr>
      </thead>
      <tbody>
      {% for item in order_predicted_satisfaction %}
        <tr>
          <td>{{item.order_uuid}}</td>
          <td>{{item.customer_uuid}}</td>
          <td>{{item.status}}</td>
          <td>{{item.purchase_timestamp}}</td>
          <td>{{item.predicted_satisfaction}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No products are available.</p>
    {% endif %}

    <a href="/sellers/inventory">See Inventory</a>
    <a href="/logout">Logout</a>
  </div>
{% endblock %}